{% extends "cocktail.html" %}
{% load markup_tags %}

{% block body %}
<nav class="text-sm text-gray-500 mb-4">
    <a href="{% url 'food:recipe-list' recipe_type=recipe_type %}" class="text-xl font-semibold text-blue-600 hover:underline">{{ recipe_type|capfirst }}</a>
    <span class="mx-1 text-xl">&rsaquo;</span>
    <span class="text-xl font-semibold text-gray-900">{{ recipe.title }}</span>
</nav>

{% with show_recipe_filter=True %}
{% include "food/food_select.html" %}
{% endwith %}

<hr class="my-6 border-gray-200">

<div class="space-y-4">
    <table class="w-full text-sm">
        {% for i in ingredients %}
        <tr class="border-b border-gray-100">
            <td class="py-1 pr-3 text-right w-20 text-gray-600">{{ i.quantity }}</td>
            <td class="py-1">
                <a href="{% url 'food:ingredient-detail' recipe_type=recipe_type slug=i.slug %}" class="text-blue-600 hover:underline">{{ i.title }}</a>
            </td>
            <td class="py-1 pl-3 text-gray-500 italic">{{ i.modifier }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="leading-relaxed">
        {{ recipe.directions|apply_markup:"markdown" }}
    </div>

    {% if recipe.description %}
    <div class="text-gray-600 italic leading-relaxed">
        {{ recipe.description|apply_markup:"markdown" }}
    </div>
    {% endif %}

    {% if recipe.credit %}
    <div class="text-sm text-amber-800">
        {{ recipe.credit|apply_markup:"markdown" }}
    </div>
    {% endif %}

    <div class="text-xs text-gray-400">
        added {{ recipe.pub_date|date:"F j, Y" }}
    </div>
</div>
{% endblock %}
